<!--<div class="panel panel-default">
  <div class="panel-heading">{{element.name}}</div>
    <div class="panel-body">
      <p>
        <strong style="color: darkblue">{{element.content}}</strong>
      </p><p><em style="color: darkblue">{{element.content}}</em>
      </p>
    </div>
</div>-->
<div class="panel panel-default">
  <div class="panel-heading">{{elem.name}}</div>
  <div class="panel-body">
    <p>
      <strong style="color: darkblue">{{elem.content}}</strong>
    </p><p><em style="color: darkblue">{{elem.content}}</em>
  </p>
  </div>
</div>
