<app-header (linkSelect)="onNavigate($event)"></app-header>
<div class="container">
  <div class="row">
    <div class="col-md-12">
      <h2>My Cook Book</h2>
      <app-recipes *ngIf="loadLink === 'recipe'"></app-recipes>
      <app-shopping-list *ngIf="loadLink !== 'recipe'"></app-shopping-list>
    </div>
  </div>
</div>
<hr>
<hr>
<!--<div class="container">
  <div class="row">
    <div class="col-md-12">
      <h2>Imbriked Element</h2>
      <app-server-element
        *ngFor="let selement of allElements"
         [element]="selement">
        <p #contentParagraph>
          <strong>{{selement.content}}</strong>
        <em>{{selement.content}}</em>
      </p>
      </app-server-element>
    </div>
  </div>
</div>
<div class="container">
  <div class="row">
    <div class="col-md-12">
      <h2>Imbriked Element with Alias</h2>
      <app-server-element
        *ngFor="let selementAlias of allElementsWithAlias"
         [newElement]="selementAlias"></app-server-element>
    </div>
  </div>
</div>-->
